.header{
    display: flex;
	flex-direction:row;
    justify-content: space-between;
	display:flex;
    flex-direction:row;
    align-items: center;
}
/*
.header p{
    color: rgb(28, 28, 153);
}
*/
.header-logo{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    gap: 2rem;
    align-items: right;
}
/*
.header-nav a{
    padding: 1rem;
}
*/

.header-login{
	gap: 5rem;
	display: flex;
	flex-direction:row;
    justify-content: space-between;
    align-items: center;
}
.header-nav{
	padding: 15rem;
	gap: 5rem;
}

