@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
    /* background-image: linear-gradient(to right, #00669977, #006699); */
    background-color:  #e5e7eb;
}

.sombra .card-panel{
    border-radius: 12.5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2) ;
}

/* .stroke{
    -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
} */