.header-logo img{
    max-height: 5rem;
}
header{
    margin-top: 10px;
    text-align: center;
}

@media (max-width: 992px) {
    .imageContainer{
        display: none;
    }
    .searchContainer, .navContainer, .nameContainer{
        margin: 5px 0px 5px 0px;
    }
}

@media (max-width: 600px) {
    .navContainer{
        font-size: 15px;
    }
}