@charset "utf-8";
/* CSS Document */
* {
	box-sizing: border-box;
}

.navCatalogo{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-content: center;
    padding: 1rem;
    gap: 1rem;
    background-color: #3b82f6;
    align-items: center;
}

/*Clase del contenedor de todos los libros*/


/*Clase por cada libro*/
.libro{
    border: solid black;
}

.PonerCapital{
    text-transform: capitalize;
}

body{
   font-family: 'Roboto', sans-serif;
    background-color:  #e5e7eb;
}

.Titulo{
    text-transform:uppercase;
}

.card{
    padding: 0px;
    border-radius: 12.5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.imageBook{
    max-height: 40vh !important;
}

.formReview{
    border-radius: 5px;
    background-color: white;
    margin-top: 2rem;
    padding: 1rem 2rem 2rem 2rem;
}

.manita:hover{
    cursor: pointer;
}

.buttonsEditar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}