.colorsubmit{
    background-color: #2979ff;
    color: white;
}

input[type=”file”]#imagen {
 width: 0.1px;
 height: 0.1px;
 opacity: 0;
 overflow: hidden;
 position: absolute;
 z-index: -1;
 }

#imagen{
font-size: 14px;
 font-weight: 1500;
 color: #fff;
 background-color: #106BA0;
 display: inline-block;
 transition: all .5s;
 cursor: pointer;
 padding: 20px 60px ;
 text-transform: uppercase;
 width: fit-content;
 text-align: center;
}